.container{
    background-image: url("https://www.pngkey.com/png/detail/55-554125_graphic-freeuse-library-african-woman-head-silhouette-african.png");

}


.body{
    text-decoration-color: black;
    

}

.form{
    float: center;
    text-align: center;
    font-family: cursive;
    font-size:40px;

}
p{
    font-size: 30px;
    
}
h1{
    text-decoration: underline;
    text-align: center;

}